.landingAling {
    display: flex;
    align-items: center;
    justify-content: center;
}

.LandingImg {
    width: 1366px;
    height: 200px;
}

.landingTitle {
    font-size: 550%;
    position: absolute;
    top: 25%;
}

.g {
    color: rgb(248, 128, 128);
}

.e{
    color: rgb(238, 125, 195);
}

.o {
    color: rgb(238, 124, 241);
}

.g2 {
    color: rgb(170, 111, 248);
}

.r {
    color: rgb(104, 29, 245);
}

.a {
    color: rgb(75, 34, 221);
}

.f {
    color: rgb(85, 150, 235);
}

.i {
    color: rgb(87, 219, 252);
}

.a2 {
    color: rgb(53, 250, 191);
}

.landingSubtitle {
    font-size: 300%;
    color: rgb(75, 74, 74);
    position: absolute;
    top: 50%;
}

.paragraphDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}

.paragraph {
    font-size: 100%;
    position: absolute;
    top: 70%;
    margin-left: 20%;
    margin-right: 20%;
}

.landingButton {
    position: absolute;
    top: 90%;
    left: 45%;
    
}

.landingLink{
    text-decoration: none;
}


